body {
	font-size: 11px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	vertical-align: middle;
	background: black;
	fill: white;
	color: white;	
	cursor:default;
}

#intro{
	position: absolute;
	top: 10px;
	left: 20px;
	width: 180px;
	text-align: left;
	color: #B5B5B5;
}

#intro h2{
  font-family: Oswald;
  font-size: 24px;
  font-weight: 300;
  color: white;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.3em;
}

#searchBoxWrapper{
	position: relative;
	height: 25px;
	top: 110px;
	padding-bottom: 10px;
	color: #474747;
}

.form-control {
	font-size: 11px;
	background-color: #E8E8E8;
	
}

.dropdown-menu {
	font-size: 11px;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover {
	background-color: #9C9C9C;
}

#note {
	position: absolute;
	top: -10px;
	left: 10px;
	font-size: 9px;
	font-weight: 300;
	color: #6E6E6E;
	text-align: left;	
}

#slider {
	position: absolute;
	top: 160px;
}

a {
	text-decoration: none;
	color: #6E6E6E;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.legend {
  font-size: 11px;
  font-weight: 300;
}

.legendTitle {
  font-family: Oswald;
  font-size: 14px;
  font-weight: 300;
}	

.yearTitle {
  font-family: Oswald;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}